# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Django
db.sqlite3
*.log
media/

# Static
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
